/* Apply basic styles to the book-container */
.book-details {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #293D48;
    background-color: white;
    padding: 40px;
    border: 2px solid #293D48;
    border-radius: 5px;
}

/* left column */
.left-column {
    flex-basis: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.left-column img {
    width: 70%;
    display: block;
    border: 2px solid #293D48;
    border-radius: 5px;
}

/* middle column */
.middle-column {
    flex-basis: 45%; 
}

.middle-column img {
    width: 100%;
    display: block;
}

/* right column */
.right-column {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    margin-left: 30px;
}

.right-column h1 {
    font-size: 40px;
}
.right-column {
    font-size: 30px;
}

/* Upper part */
.book-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Detail button */
.book-box details {
    margin: 30px 30px 0;
    padding: 10px;
    border: 3px solid #293D48;
    border-radius: 5px;
    background-color: #F7E8D3;
    color: #293D48;
}
.book-box details:hover {
    border: 5px solid #293D48;
    border-radius: 5px;
}

.book-box details summary {
    text-align: center;
    font-weight: bold;
}

.book-box details p {
    text-align: justify;
}

.book-box .detail-box {
    display: flex;
    justify-content: center;
}

/* Add to card n Quantity */
.button-group .quantity,
.button-group .submit-button {
    display: block;
    margin-bottom: 10px;
}

.button-group .quantity {
    color: #293D48;
}

.button-group .submit-button {
    background-color: #293D48;
    color: #F7E8D3;
    font-family: 'Old Standard TT', serif;
}
.button-group .submit-button:hover {
    background-color: #F7E8D3;
    color: #293D48;
}

/* suggestion */
.suggestion.cards h2 {
    color: #293D48;
    background-color: #F7E8D3;
    border: 3px solid #293D48;
}   
.suggestion.cards h2:hover {
    text-decoration: none;
}
.suggestion section {
    background-color: #F6F1F1;
}
