/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* basic layout */
/* main image */
.main-image {
    margin-bottom: 20px;
}

.main-image img,
.small-image img {
    border: 2px solid #293D48;
    border-radius: 5px
}

/* 3 small images */
.small-image {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.small-image a {
    width: 30%;
}

.small-image img {
    border: 2px solid #293D48;
}

/* book information */
.book-info-box {
    font-size: 15px;
    color: #293D48;
}

.book-info-box strong,
.book-info-box h1 {
    font-size: 21px;
}

/* quatity and add to cart */
.button-group .quantity,
.button-group .submit-button {
    display: block;
    margin-bottom: 20px;
}

/* quantity */
.button-group .quantity {
    color: #293D48;
}

.button-group .quantity .select-box {
    width: 50%;
    color: #F7E8D3;
    background-color: #293D48;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* submit button */
.button-group .submit-button {
    background-color: #293D48;
    color: #F7E8D3;
    font-family: 'Old Standard TT', serif;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

/* both button transition */
.button-group .submit-button:hover,
.button-group .quantity .select-box:hover {
    background-color: #F7E8D3;
    color: #293D48;
    border: 3px solid #293D48;
}

@media screen and (min-width: 768px) {
    
}

/* detail buttons */
.book-box details {
    padding: 10px;
    border: 3px solid #293D48;
    border-radius: 5px;
    background-color: #F7E8D3;
    color: #293D48;
}

.book-box details:first-child {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.book-box details:last-child {
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.book-box details summary {
    text-align: center;
    font-weight: bold;
}

.book-box details summary:hover {
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}

/* separator line */
.book-box .separator {
    background-color: #293D48;
}
.book-info-box .separator {
    display: none;
}

/* suggestion */
.suggestion.cards h2 {
    font-size: 30px;
    color: #F7E8D3;
    background-color: #293D48;
}

.suggestion.cards h2:hover {
    text-decoration: none;
}

/* larger screen */
@media screen and (min-width: 768px) {

    .book-info-box {
        font-size: 21px;
    }

    .book-info-box strong,
    .book-info-box h1 {
        font-size: 30px;
    }

    /* quantity button */
    .button-group .quantity .select-box {
        width: 30%;
    }

    /* all of images */
    .book-detail-images {
        display: flex;
    }

    .small-image {
        order: 1;
        flex-direction: column;
        flex: 1 1 17%;
        justify-content: space-evenly;
        margin: 0;
    }

    .small-image a {
        width: 75%;
    }

    .main-image {
        order: 2;
        flex: 1 1 83%;
    }

}

@media screen and (min-width: 1024px) {
    .book-detail {
        display: flex;
        background-color: white;
        border: 2px solid #293D48;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .book-detail-images {
        flex: 0 1 50%;
    }

    .small-image {
        align-items: center;
    }

    .main-image img {
        border: none;
    }

    .book-info-box .separator {
        display: block;
        border-radius: 5px;
        background-color: #293D48;
    }

    .book-info-box {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        justify-content: space-evenly;
    }
}