/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* breadcrumbs */
.bread {
    margin-bottom: 10px;
    padding: 10px 20px;
    list-style: none;
    font-size: 15px;
}

.bread li {
    display: inline-block;
    color: #293D48;

}

.bread li a {
    color: #293D48;
    text-decoration: none;
}

/* a little adjustment for current navigation */
.bread li:last-child {
    text-decoration: underline;
}

/* add ">" symbol after any list item except the last one */
.bread li:not(:last-child):after {
    content: ">";
    margin: 0 5px 0 12px;
    color: #293D48;
}

/* larger screen */
@media screen and (min-width: 768px) {
    .bread {
        margin-bottom: 10px;
        padding: 10px 20px;
        list-style: none;
        font-size: 22px;
    }
}