/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* card layout */

.cards section {
    background-color: white;
    margin: 20px 0;
}

.cards section, .card {
    border-radius: 5px;
}

.cards h2 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: #BF9369;
    text-decoration: underline 2px;
    text-underline-offset: 7px;
}

.card {
    background: white;
}

.card a {
	color: #293D48;
	text-decoration: none;
}

.card-text {
    text-align: center;
    padding: 0 5px 5px;
    line-height: 1.5;
}

.card img {
    padding-top: 10px;
    /* height: 320px; */
}

/* Larger screen */
@media screen and (min-width: 426px) {
    
    .card-layout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .card-layout hr {
        background: #293D48;
        width: 1px;
        border: 0;
    }
/* ??????? */
    .card-layout hr:last-child {
        display: none;
    }


    .card {
        display: flex;
        flex: 0 1 calc(50% - 5px);
        /* border: 2px solid #293D48; */
    }

    .card-text {
        padding-bottom: 0;
    }
}
@media screen and (min-width: 1024px) {
    
    .card {
        flex: 0 1 calc(33% - 10px);
    }
}