/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* card layout */

.cards section {
    margin: 20px 0 50px;
}

.cards section,
.card {
    border-radius: 5px;
}


.cards h2 {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    color: #F7E8D3;
    background-color: #293D48;
    border-radius: 5px;
}

.cards a {
    text-decoration: none;
    color: #F7E8D3;
}

.card {
    border-radius: 5px;
    border: 2px solid #293D48;
    background: white;
    transition: border .2s;
    margin-bottom: 15px;
}

.card a {
    color: #293D48;
    text-decoration: none;
    border-radius: 5px;

}

.card-text {
    text-align: center;
    padding: 0 5px 5px;
    line-height: 1.5;
}

.card img {
    padding-top: 10px;
}

/* effect */
.cards h2 a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 7px;
    border-radius: 5px;
}

.card:hover {
    border: 4px solid #293D48;
    font-weight: bold;
}

/* Larger screen */
@media screen and (min-width: 426px) {

    /* All cards */
    .card-layout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* Each card */
    .card {
        display: flex;
        flex: 0 1 calc(48%);
    }

    .card-text {
        padding-bottom: 0;
    }
}

/* largest screen */
@media screen and (min-width: 992px) {

    .card {
        flex: 0 1 calc(33% - 5px);
    }
}