/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* footer */
footer,
.footer-box,
.footer-content {
    border-radius: 5px;
}

footer {
    background-color: #293D48;
}

footer .separator {
    background-color: #F7E8D3;
}

.footer-box {
    background-color: #293D48;
}

.footer-box a:hover {
    text-decoration: underline;
}

.footer-content {
    text-align: center;
}

.footer-content,
.footer-content a {
    color: #F7E8D3;
    text-decoration: none;
}

footer li:first-child a:hover {
    border-radius: 4px 0 0 0;
}

footer li:last-child a:hover {
    border-radius: 0 4px 0 0;
}

@media screen and (min-width: 768px) {

    .footer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }

    .footer-content {
        flex: 1 0 auto;
    }
}