/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* general */

/* video */
.video-header {
    width: 100%;
    border-radius: 5px;
}

/* image */
img {
    width: 100%;
    height: auto;
    display: block;
}


/* body */
body {
    margin: 0 auto;
    padding: 0 20px;
    background: #F6F1F1;
    font-family: 'Old Standard TT', serif;
    font-size: 22px;
}

@media screen and (min-width: 60em) {
    body {
        max-width: 60em;
    }
}

/* footer */

footer, .footer-box, .footer-content {
    border-radius: 5px;
}

footer {
    background-color: #293D48;
}

footer hr {
    border: 1px solid #F7E8D3;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.footer-box {
    display: flex;
    background-color: #293D48;
}

.footer-box a:hover {
    text-decoration: underline;
}

.footer-content {
    text-align: center; 
}

.footer-content, .footer-content a {
    color: #F7E8D3;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    
    .footer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-content {
        flex: 1 0 auto;
    }
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo a {
    text-align: center;
}
.logo img {
    width: 200px;
    border-radius: 5px;
}

/* .searching {
    padding: 10px;
} */

/* banner */
.banner img {
    border-radius: 5px;
}

/* breadcrumbs */
.bread {
    margin-bottom: 10px;
    padding: 10px 20px;
    list-style: none;
  }
  
  .bread li {
    display: inline-block;
    color: #293D48;

  }
  
  .bread li a {
    color: #293D48;
    text-decoration: none;
  }
  .bread li:last-child {
    text-decoration: underline;
}

  .bread li:not(:last-child):after {
    content: ">";
    margin: 0 5px 0 12px;
    color: #293D48;
  }