/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* general */
body {
    margin: 0 auto;
    padding: 0 20px;
    background: #F6F1F1;
    font-family: 'Old Standard TT', serif;
    font-size: 22px;
    color: #293D48;
}

/* larger screen */
@media screen and (min-width: 60em) {
    body {
        max-width: 60em;
    }
}

/* image */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* separator line */
.separator {
    height: 2px;
    margin: 0;
}

/* center align */
.centered {
    margin: 0 auto;
}