/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* general */
body {
    margin: 0 auto;
    padding: 0 20px;
    background: hsl(0, 0%, 90%);
}
@media screen and (min-width: 60em) {
    body {
        max-width: 60em;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* logo */
.logo a {
    text-align: center;
}
.logo img {
    width: 100px;
}

/* menu */
nav {
    margin-bottom: 10px;
}

.menu {
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

/* larger screen menu */
@media screen and (min-width: 1024px) {

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu li, .menu .searching {
        flex: 1 0 auto;
        text-align: center;
    }

}

aside .menu ul {
    background-color: gray;
}

.searching {
    padding: 10px;
}

/* card layout */

.card {
    background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
}

.card-text {
    text-align: center;
    padding: 0 5px 5px;
    line-height: 1.5;
}

.card img {
    padding-top: 10px;
    height: 316.8px;
}

/* Larger screen */
@media screen and (min-width: 426px) {
    
    .card-layout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }
    
    .card {
        flex: 0 1 calc(50% - 5px);
    }
    .card-text {
        padding-bottom: 0;
    }
}
@media screen and (min-width: 1024px) {
    
    .card {
        flex: 0 1 calc(33% - 5px);
    }
}