/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Phan Anh Khoi
ID: s3980639
Acknowledgement: Acknowledge the resources that you use here. */

/* menu */
nav {
    margin-bottom: 20px;
}

.menu {
    color: #F7E8D3;
    font-size: 30px;
}

.menu, .menu ul, .menu li {
    border-radius: 5px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #293D48;
}

.menu li a {
    text-decoration: none;
    color: #F7E8D3;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.menu li a:hover {
    color: #293D48;
    background-color: #F7E8D3;
}

/* .menu ul a:hover:first-child {
    border-radius: 5px 0 0 5px;
}
.menu ul a:hover:last-child {
    border-radius: 0 5px 5px 0;
} */
/* .menu li:first-child:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
.menu li:last-child:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } */

/* larger screen menu */
@media screen and (min-width: 1024px) {

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu li, .menu {
        flex: 1 0 auto;
        text-align: center;
    }
}